*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
display:flex;
background:#f4f7fb;
}

.sidebar{
width:250px;
height:100vh;
background:#0f172a;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px 10px;
margin-bottom:5px;
cursor:pointer;
border-radius:8px;
}

.sidebar li:hover{
background:#1e293b;
}

.main{
flex:1;
padding:30px;
}

.topbar{
margin-bottom:30px;
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
border-radius:12px;
width:220px;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.results{
margin-top:40px;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:left;
}
